@charset "utf-8";
/* CSS Document */
/*mobiel and tablet*/
@media only screen and (max-width: 1023px){
    :root{
       --white-color: #fff;
    }
	.hide-on-mobile-tablet{
		display: none;
    }
   
}
/*tablet*/
@media only screen and (max-width: 1023px) and (min-width: 740px){

	.hide-on-tablet{
		display: none;
    }
    
}
/*mobile*/
@media only screen and (max-width: 739px){
   
	.hide-on-mobile{
		display: none;
    }
    .padding{
        padding: 10px 12px;
    }
   
}
/*low pc*/
@media only screen and (max-width: 1295px) and (min-width: 1173px){

	
}
@media only screen and (max-width: 1172px) and (min-width: 1024px){
    .hide-on-low-pc{
        display: none;
    }
	
	
}
