
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/Khoa/Views/Shared/_LayoutKhoa.cshtml";
}

<p>Thành công: @ViewBag.ImportSuccess dòng</p>
<p>Lỗi: @ViewBag.ImportFail dòng</p>
<p>Dòng lỗi là: @ViewBag.ImportFailIndex</p>

