
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<h3>Chào mừng bạn đến với HUTECH</h3>
<div style="display:flex;justify-content:space-between;margin-top:26px;">
    <img style="flex:1; border:1px solid black" src="http://rubee.com.vn/admin/webroot/upload/image//images/bai-viet/gioi-thieu-truong-dai-hoc-hutech.jpg" />
    <img style="flex: 1; border: 1px solid black" src="https://vinit.com.vn/wp-content/uploads/2019/12/hoc-phi-dai-hoc-hutech.jpg" />
</div>
<p style="margin-top:16px;">
    <b>Trường Đại học Công nghệ TP.HCM - HUTECH</b>  tiền thân là Trường Đại học Kỹ thuật Công nghệ TP.HCM, được thành lập ngày 26/4/1995 theo quyết định số 235/QĐ-TTg của Thủ tướng Chính phủ và đi vào hoạt động theo quyết định của Bộ trưởng Bộ GD&ĐT số 2128/QĐ-GDĐT.
    <br />
    Sau hơn 25 năm xây dựng và phát triển, hiện HUTECH sở hữu 05 khu học xá toạ lạc tại TP. Hồ Chí Minh. Các khu học xá được đầu tư xây dựng khang trang, hiện đại theo chuẩn quốc tế với tổng diện tích trên 100.000m2 tạo không gian học tập hiện đại, năng động, thoải mái.
</p>


