
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}

<section>
    <h1>Lorem 1</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatum doloribus enim corporis error laudantium provident laboriosam id harum! Perspiciatis expedita, ex ducimus nemo nostrum non quisquam saepe mollitia inventore?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam distinctio repudiandae ullam ab consectetur qui dolor. Accusamus, odit fugit. Corporis exercitationem maxime consequatur assumenda, aut libero. Sit magnam sint exercitationem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, libero odio, similique laboriosam labore voluptas, excepturi debitis quasi ad atque ullam iusto id iure repellat animi illo quisquam quibusdam eveniet.
    </p>
</section>

<section>
    <h1>Lorem 2</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatum doloribus enim corporis error laudantium provident laboriosam id harum! Perspiciatis expedita, ex ducimus nemo nostrum non quisquam saepe mollitia inventore?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam distinctio repudiandae ullam ab consectetur qui dolor. Accusamus, odit fugit. Corporis exercitationem maxime consequatur assumenda, aut libero. Sit magnam sint exercitationem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, libero odio, similique laboriosam labore voluptas, excepturi debitis quasi ad atque ullam iusto id iure repellat animi illo quisquam quibusdam eveniet.
    </p>
</section>

<section>
    <h1>Lorem 3</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatum doloribus enim corporis error laudantium provident laboriosam id harum! Perspiciatis expedita, ex ducimus nemo nostrum non quisquam saepe mollitia inventore?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam distinctio repudiandae ullam ab consectetur qui dolor. Accusamus, odit fugit. Corporis exercitationem maxime consequatur assumenda, aut libero. Sit magnam sint exercitationem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, libero odio, similique laboriosam labore voluptas, excepturi debitis quasi ad atque ullam iusto id iure repellat animi illo quisquam quibusdam eveniet.
    </p>
</section>

